<div data-role="header" class="ui-header ui-bar-a" data-position="fixed">
	<h1 class="header-title">Termos de Uso</h1>
</div>
<div data-role="content" class="ui-responsive">
	<div class="container terms-of-use">
		<h4>Nossas Garantias e Isenções de Responsabilidade</h4>

		<p>e-Mercado fornece um serviço gratuito usando nossa capacidade e
			cuidado, cuja base de dados e alimentada por seus próprios usuários,
			e esperamos que você aproveite seu uso deles. Mas existem algumas
			coisas que não prometemos sobre nossos Serviços. EM PARTICULAR, NÃO
			OFERECEMOS QUAISQUER GARANTIAS SOBRE OS SERVIÇOS. POR EXEMPLO, NÃO
			NOS RESPONSABILIZAMOS PELOS CONTEÚDOS NOS SERVIÇOS, POR
			FUNCIONALIDADES ESPECÍFICAS DO SERVIÇO, OU PELA CONFIABILIDADE,
			DISPONIBILIDADE OU CAPACIDADE DE ATENDER SUAS NECESSIDADES.
			FORNECEMOS OS SERVIÇOS "NA FORMA EM QUE ESTÃO" ASSIM COMO AS
			INFORMAÇÕES DISPONÍVEIS O SÃO TAMBÉM "NA FORMA EM QUE SÃO" FORNECIDAS
			PELOS PRÓPRIOS USUÁRIOS DO APLICATIVO. PORTANTO, NÃO HÁ QUALQUER
			GARANTIA QUE (I) O APLICATIVO E SEUS SERVIÇOS, BEM COMO CONTEÚDO
			FORNECIDO POR TERCEIROS, ATENDERÃO SUAS NECESSIDADES; (II) O
			APLICATIVO E SEUS SERVIÇOS, BEM COMO CONTEÚDO FORNECIDO POR
			TERCEIROS, SERA ININTERRUPTO, ACURADO, CONFIÁVEL, ATUALIZADO, SEGURO
			OU LIVRE DE ERROS; (III) A QUALIDADE DE QUALQUER INFORMAÇÃO OBTIDA
			POR VOCÊ ATRAVÉS DO APLICATIVO SERÁ REPRESENTATIVA OU ATENDERÁ SUAS
			EXPECTATIVAS; (IV) QUALQUER ERRO NO APLICATIVO E SEUS SERVIÇOS, BEM
			COMO CONTEÚDO FORNECIDO POR TERCEIROS, SERA CORRIGIDO. DESSA FORMA,
			PORTANTO, O SEU USO DO APLICATIVO OU USO BASEADO NESSE E FEITO AO SEU
			PRÓPRIO RISCO E VONTADE.</p>

		<h4>Responsabilidade pelos nossos Serviços</h4>

		<p>O E-MERCADO NÃO SERÃO RESPONSÁVEIS POR PERDA DE LUCROS, PERDA
			DE RECEITA, PERDA DE DADOS, PERDAS FINANCEIRAS OU DANOS INDIRETOS,
			ESPECIAIS, CONSEQUENCIAIS, EXEMPLARES OU PUNITIVOS. EM TODOS OS
			CASOS, O E-MERCADO NÃO SERÁ RESPONSÁVEL POR QUALQUER PERDA MATERIAL
			OU DANO MORAL PELO USO DO APLICATIVO OU DE SEUS SERVIÇOS.</p>

		<input data-role="none" type="checkbox" ng-model="termsCheckbox">
		Li e concordo com os termos de uso. <br>
		<button id="addMarketPriceButton" type="button" data-role="none"
			class="btn btn-primary" ng-click="acceptTerms()"
			ng-disabled="!termsCheckbox">Aceitar</button>
	</div>
</div>